*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F0F0F0 ;
}


.navBar{
    overflow: hidden;
    background-color: #e6cab3;
    background-image: linear-gradient(to right,#e6cab3, white, #e6cab3);
    padding: 0 100px;
}
.navBar a{
    float: right;
    padding: 16px 10px;
    color: #805850 ;
    text-decoration: none;
    border: 2px solid transparent;
}
.navBar a:hover{
    border-bottom-color: #805850 ;
}
.navBar a.logo_icon{
    float: left;
    padding: 0;
}
.navBar a.logo_icon:hover{
    border-bottom-color: transparent;
}
.navBar a.icon{
    display: none;
}

@media screen and (max-width:600px){
    .navBar{padding: 0;}
    .navBar a:hover{
        border-bottom-color: transparent;
    }
    .navBar a:not(:last-child){display: none;}
    .navBar a:last-child{float: left;}
    .navBar a.icon{
        display: block;
        float: right;
    }

    .navBar.responsive{position: relative;}
    .navBar.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a{
        display: block;
        float: none;
        text-align: left;
    }
    .navBar.responsive a.logo_icon{display: none;}
}



.body{
    width: 80%;
    margin: auto;
    background-color: white;
}


.section_two{
    color: #805850;
    padding: 15px 20px;
}
.section_two span{
    font-size: 150%;
}
.section_two h1{
    font-size: 150%;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: auto;
    background-color: #F0F0F0 ;
    margin: 5px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 4px;
}
.grid-item img{
    height: 200px;
    margin: auto;
}
.grid-item p{
    width: 200px;
    margin: auto;
}

@media screen and (max-width:1200px){
    .body{width: 100%;}
}
@media screen and (max-width:920px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:690px){
    .grid-container{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:600px){
    .grid-container{
        grid-template-columns: auto;
    }
}

.section_three{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imageLeft{
    position: relative;
}
.imageLeft div{
    position: absolute;
    top: 50%;
    right: 30px;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    text-align: center;
}
.imageLeft hr{
    margin: 10px;
}
.imageRight{
    position: relative;
}
